body {
  min-height: 2000px;
  padding-top: 70px;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.navbar-brand {
  padding: 0px 0px;
}

.navbar-brand > img {
  height: 45px;
  width: auto;
  margin: 3px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.page-header {
  text-align: center;
  margin: 0px 0px 10px;
}
/*
.page-header > p {
  padding-left: 30px;
}
*/